---
title: Wandel- en Fietszoektocht 2024 - De Klinker 
---

<div class="row">
<div class="col-left">
  <img src="images/flyer.png"/>
</div>
<div class="col-right info">
  <div class="title">Gezinstocht met vragen voor kleine en grote zoekers</div>

  De ouderraad van VBS De Klinker organiseert ook dit jaar weer een fotozoektocht voor alle speurneuzen.
  Je kan kiezen tussen een fietstocht en/of een wandeltocht.
  <br/><br/>
  Praktische info :
  <ul>
  <li><b>Wanneer</b>: woensdag 1 mei 2024. Je kan starten tussen 10u en 17u.
  <li><b>Fietstocht</b>: ongeveer 11 km
  <li><b>Wandeltocht</b>: ongeveer 2,5 km
  <li><b>Vertrek</b>: speelplaats VBS De Klinker, Torenstraat 62, 3110 Rotselaar
  <li><b>Prijs</b>: 5 euro/gezin
  </ul>

  Na de zoektocht kunnen jullie gezellig napraten met croques en enkele verfrissingen.<br/><br/>

  Oplossingen kunnen tot en met 5 mei ingeleverd worden in de brievenbus van de school.
</div>
</div>